/.vs
/src/Source.EF/bin
/src/Source.EF/obj
/src/Source.Server.Application/bin
/src/Source.Server.Application/obj
/src/Source.Server.Infrastructure/bin
/src/Source.Server.Infrastructure/obj
/src/Source.Server.WebAPI/bin
/src/Source.Server.WebAPI/logs
/src/Source.Server.WebAPI/obj
/src/Source.Shared/bin
/src/Source.Shared/obj
/src/WebApp.Application/bin
/src/WebApp.Application/obj
/src/WebApp.Shared/bin
/src/WebApp.Shared/obj
/src/WebApp/bin
/src/WebApp/obj
